<div {{ attr | html_attributes }}>

    {% block toolbar %}
        {{ render_toolbar(toolbar) }}
    {% endblock %}

    {% block table %}
        <table {{ table_attr | html_attributes }}>
            <thead>
            <tr>
                {% for column in columns %}
                    {{ render_column_header(column) }}
                {% endfor %}
            </tr>
            </thead>
            <tbody data-spinner="{{ include("@UmbrellaCore/DataTable/datatable_spinner.html.twig") | e ('html') }}">
                {% include "@UmbrellaCore/DataTable/datatable_spinner.html.twig" %}
            </tbody>
        </table>
    {% endblock %}
</div>
