{%- block simple_action -%}
    <a {{ block('url_action') }} class="{{ class }} js-umbrella-action" {% if confirm %}data-confirm="{{ confirm | trans }}"{% endif %} >
        {% if icon %}
            {{ icon | icon('mr-1') }}
        {% endif %}
        {{ block('label_action') }}
    </a>
{%- endblock -%}

{%- block url_action -%}
    {% if route is not empty %}
        {% set url = path(route, route_params) %}
    {% else %}
        {% set url = url %}
    {% endif %}
    {% if xhr %}data-xhr="{{ url }}" href{% else %}href="{{ url }}"{% endif %}
{%- endblock -%}

{%- block label_action -%}
    {% if label is not empty %}
        {% if translation_domain %}
            {{ (label_prefix ~ label) | trans([], translation_domain) | raw }}
        {% else %}
            {{ (label_prefix ~ label) | raw }}
        {% endif %}
    {% endif %}
{%- endblock -%}