{% extends "@UmbrellaCore/Modal/default.html.twig" %}

{% block modal_body %}
    <form enctype="multipart/form-data" method="POST" data-mount="Form" data-xhr-action="{{ action | default(app.request.uri) }}">

        <div class="modal-body {% block modal_body_class %}{% endblock %}">
            {% block modal_content %}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
            {% endblock %}
        </div>

        <div class="modal-footer">
            {% block modal_footer %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="material-icons mr-1">clear</i> {{ 'action.cancel' | trans }}
                </button>

                <button type="submit" class="btn btn-primary">
                    <i class="material-icons mr-1">check</i> {{ 'action.save' | trans }}
                </button>
            {% endblock %}
        </div>

    </form>
{% endblock %}