{% set url = route ? path(route, route_params) : url %}

<a class="{{ class }} mr-1 {% if extra_data %}no-bind{% endif %}"
    {% if xhr %}data-xhr="{{ url }}" href{% else %}href="{{ url }}"{% endif %}
    {% if xhr_id %}data-xhr-id="{{ xhr_id }}"{% endif %}
    {% if spinner %}data-spinner="true"{% endif %}
    {% if confirm %}data-confirm="{{ confirm | trans }}"{% endif %}
    {% if extra_data %}data-extra-data="{{ extra_data }}"{% endif %}
>
    {% if icon %}
        {{ icon | icon('mr-1') }}
    {% endif %}

    {% if label is not empty %}
        {% if translation_domain %}
            {{ (label_prefix ~ label) | trans([], translation_domain) | raw }}
        {% else %}
            {{ (label_prefix ~ label) | raw }}
        {% endif %}
    {% endif %}
</a>