{% use "bootstrap_4_horizontal_layout.html.twig" %}

{% use "@UmbrellaCore/Form/umbrellafile.html.twig" %}
{% use "@UmbrellaCore/Form/umbrellacollection.html.twig" %}
{% use "@UmbrellaCore/Form/accordion.html.twig" %}
{% use "@UmbrellaCore/Form/async_entity2.html.twig" %}
{% use "@UmbrellaCore/Form/umbrellatitle.html.twig" %}

{% block form_group_class -%}
{{ group_class }}
{%- endblock form_group_class %}

{% block form_label_class -%}
{{ label_class }}
{%- endblock form_label_class %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : (choice_prefix ~ group_label)|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : (choice_prefix ~ choice.label)|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block form_widget_simple -%}
    {% if input_prefix or input_suffix %}
        <div class="input-group">
            {% if input_prefix %}
                <div class="input-group-prepend">{{ input_prefix | raw }}</div>
            {% endif %}
            {{- parent() -}}
            {% if input_suffix %}
                <div class="input-group-append">{{ input_suffix | raw }}</div>
            {% endif %}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_widget_simple %}