{% block umbrellafile_widget %}
    <div class="js-umbrella-fileupload umbrella-fileupload" id="{{ form.vars.id }}">
        <div hidden="hidden">
            {{ form_widget(form.file, { 'attr' : { 'class' : 'js-umbrella-file' }}) }}
            {{ form_widget(form.id, { 'attr' : { 'class' : 'js-umbrella-entity' }}) }}
            {{ form_widget(form.delete, { 'attr' : { 'class' : 'js-umbrella-delete' }}) }}
        </div>

        <div class="input-group">
            <div class="input-container">
                {# Use readonly class to allow required attribute #}
                {{ form_widget(form.text, { 'attr' : { 'class' : 'js-umbrella-text', 'readonly' : true }}) }}

                <div class="action-container">
                    {% if allow_delete %}
                        <span class="js-umbrella-remove umbrella-remove hide" type="button">
                            {{ 'mdi mdi-close' | icon }}
                        </span>
                    {% endif %}
                    {% if form.vars.entity and form.vars.entity.webPath is not empty %}
                        <span onclick="window.open('{{ asset(form.vars.entity.webPath) }}'); return false" class="js-umbrella-download umbrella-download">
                            {{ 'mdi mdi-download' | icon }}
                        </span>
                    {% endif %}
                </div>
            </div>

            <div class="input-group-append">
                <button class="btn btn-secondary js-umbrella-browse umbrella-browse" type="button">
                    <span>
                    {% if form.vars.browse_html %}
                        {{ form.vars.browse_html | raw }}
                    {% else %}
                        {% if form.vars.browse_label %}
                            <span class="ml-1">{{ form.vars.browse_label | trans }}</span>
                        {% endif %}
                    {% endif %}
                   </span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
