{% block umbrellafile_widget %}
    <div class="js-umbrella-fileupload umbrella-fileupload" id="{{ form.vars.id }}" data-initialized="{{ null == umbrella_file ? 'false' : 'true' }}">
        <div class="input-group">
            <div class="input-container">

                <div class="input-hidden">
                    {{ form_widget(form._file) }}
                    {{ form_widget(form._deleteFile) }}
                </div>

                {{ form_widget(form.filename, {'value': file_info}) }}

                <div class="action-container">

                    {% if allow_delete %}
                        <span class="js-remove umbrella-remove hide" type="button">
                            {{ 'mdi mdi-close' | icon }}
                        </span>
                    {% endif %}

                    {% if umbrella_file %}
                        <a href="{{ file_url(umbrella_file) }}" class="js-umbrella-download umbrella-download" target="_blank">
                            {{ 'mdi mdi-download' | icon }}
                        </a>
                    {% endif %}

                </div>
            </div>

            <div class="input-group-append">
                <button class="btn btn-light js-browse umbrella-browse" type="button">
                   {%- if translation_domain is same as(false) -%}
                       {{ label_browse | raw  }}
                   {%- else -%}
                       {{ label_browse | trans([], translation_domain) | raw  }}
                   {%- endif -%}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
