{% block umbrellafile_widget %}
    <div class="js-umbrella-fileupload umbrella-fileupload" id="{{ form.vars.id }}">
        <div hidden="hidden">
            {{ form_widget(form.file, { 'attr' : { 'class' : 'js-umbrella-file' }}) }}
            {{ form_widget(form.id, { 'attr' : { 'class' : 'js-umbrella-entity' }}) }}
            {{ form_widget(form.delete, { 'attr' : { 'class' : 'js-umbrella-delete' }}) }}
        </div>

        <div class="input-group">
            {# Use readonly class to allow required attribute #}
            {{ form_widget(form.text, { 'attr' : { 'class' : 'js-umbrella-text readonly' }}) }}

            <div class="input-group-append">
                {% if allow_delete %}
                    <button class="btn btn-default js-umbrella-remove umbrella-remove" type="button">
                        <i class="material-icons">close</i>
                    </button>
                {% endif %}
                {% if form.vars.entity and form.vars.entity.webPath is not empty %}
                    <button onclick="window.open('{{ asset(form.vars.entity.webPath) }}'); return false" class="btn btn-default js-umbrella-download umbrella-download">
                        <i class="material-icons">cloud_download</i>
                    </button>
                {% endif %}
                <button class="btn btn-default js-umbrella-browse umbrella-browse" type="button">
                    <span>
                    {% if form.vars.browse_html %}
                        {{ form.vars.browse_html | raw }}
                    {% else %}
                        {% if form.vars.browse_label %}
                            <span class="ml-1">{{ form.vars.browse_label | trans }}</span>
                        {% endif %}
                    {% endif %}
                   </span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
