<div class="umbrella-datatable-container" id="{{ id }}" data-mount="DataTable" data-options="{{ js|json_encode() }}">

    {% block toolbar %}
        {% if datatable.toolbar %}
            {{ render_toolbar(datatable.toolbar) }}
        {% endif %}
    {% endblock %}

    {% block table %}
        <table {{ attr | html_attributes }}>
            <thead>
            <tr>
                {% for column in columns %}
                    <th class="{{ column.class }}" {% if column.width %}style="width:{{ column.width }}"{% endif %}>
                        {% if column.label is not empty %}
                            {% if column.translation_domain %}
                                {{ (column.label_prefix ~ column.label) | trans([], column.translation_domain) | raw }}
                            {% else %}
                                {{ (column.label_prefix ~ column.label) | raw }}
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody data-spinner="{{ include("@UmbrellaCore/Table/datatable_spinner.html.twig") | e ('html') }}">
                {% include "@UmbrellaCore/Table/datatable_spinner.html.twig" %}
            </tbody>
        </table>
    {% endblock %}
</div>
